.sala-code {
    height: 40px;
    border-radius: 8px;
    overflow: hidden;
    background: #04b166;
    border: 10px solid #04b166;
    cursor: pointer;
    
    display: flex;
  
    div {
      padding: 0 12px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    span {
      display: block;
      align-self: center;
      flex: 1;
      padding: 0 16px 0 12px;
      width: 330px;
      font-size: 14px;
      font-weight: 500;
      color: #ffffff;
      
    }
  }